html {
	position: relative;
	min-height: 100%;
}
.main {
	padding-top: 24px;
	padding-bottom: 24px;
}
.main div[class^="col"] {
	padding-top: 16px;
	padding-bottom: 16px;
}

#timeProgressbar {
	height: 2em;
	position: relative;
}
#timeProgressbar .progress {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
#timeProgressbar .progress * {
	height: 1px;
}
#timeProgressbar:hover  .progress  * {
	height: 100%;
}

#timeProgressbar .sidenotes {
	display: none;
}
#timeProgressbar:hover .sidenotes {
	display: block;
}
.sidenotes {
	position: absolute;
	left: -8px;
	right: -8px;
	top: 0;
	bottom: 0;
}
.sidenotes .sidenote {
	position: absolute;
	width: 24px;
	bottom: 0;
}
.sidenotes .sidenote.sidenote-left {
	left: -24px;
	text-align: right;
}
.sidenotes .sidenote.sidenote-right {
	right: -24px;
	text-align: left;
}